@import url('');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}

.header{
    background-color: #3C74A9;
    height: 19vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

div .header_navbar{
    display: flex;
    justify-content: center;
    padding-right: 11vh;
    padding-top: 6vh;
}

ul {
    list-style: none;
}

.header_navbar a{
    color: white;
    text-decoration: none;
}

#logo{
    height: 14vh;
    width: 25vh;
    padding-left: 14vh;
    padding-top: 2vh;
}

#saiba{
    height: 6vh;
    width: 6vh;
    margin-left: 6vh;
    padding-top: 1vh;
    cursor: pointer;
}

.banner{
    height: 85vh;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.banner p b{
    color: #F2C112;
}

.banner p{
    display: block;
    margin: 0;
    padding-top: 25vh;
    width: 95vh;
    font-size: xxx-large;
    padding-right: 27vh;
}

.banner .botao_inicial button {
    background-color: #3C74A9;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    align-items: center;
    border-style: none;
    cursor: pointer;
    border-radius: 75vh;
    margin-top: 15vh;
    height: 11vh;
    width: 42vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.banner .botao_inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -25vh;
    padding-right: 10vh;
}

.botao_inicial .espaco_1{
    margin: 0;
    padding: 0;
}

.botao_inicial .espaco_2{
    margin: 0;
    padding: 0;
}

#i_188{

}

#chat{

}

.grafico_home p b{
    color: #F2C112;
}

.grafico_home p{
    display: block;
    margin: 0;
    width: 44vh;
    font-size: xx-large;
    padding-left: 34vh;
    text-align: center;
}

.grafico_home{
    height: 105vh;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.container{
    height: 69vh;
    width: 154vh;
    background-color: aliceblue;
    margin-top: 3vh;
    margin-left: 5vh;
    border-radius: 9vh;
    justify-content: center;
    align-items: center;
}
